{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
{% block navbar %}
<div class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
            <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
            <a href="#">Voltage</a>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-5 text-center fh5co-link-wrap">
            <ul data-offcanvass="yes">
                <li class="active"><a href="#">Tour</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </div> 
        <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
            <ul class="fh5co-special" data-offcanvass="yes">
                <li><a href="#">Login</a></li>
                <li><a href="#" class="call-to-action">Get Started</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}